<!DOCTYPE html>
<html lang="en">
  <%- include('../components/Head/Head')%>
  <body class="create">
    <%- include('../Components/Header/Header')%>

    <div class="title_set wrapper">
      <p>Editar Producto</p>
    </div>
    <section class="conte_set wrapper">
      <div>
        <form
          action="/product/edit/<%=product.id%>?_method=PUT"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="data_input">
            <label for="name"
              ><input
                class="input_edit"
                type="text"
                name="name"
                id="name"
                value="<%=locals.old && old.name ? old.name : product.name%>"
            /></label>
          </div>
          <div class="data_input">
            <label for="price"
              ><input
                name="price"
                id="price"
                class="input_edit"
                type="text"
                value="<%=locals.old && old.price ? old.price : product.price%>"
            /></label>
          </div>
          <div class="data_input">
            <label for="category"
              ><input
                name="category"
                id="category"
                class="input_edit"
                type="text"
                value="<%=locals.old && old.category ? old.category : product.category%>"
            /></label>
          </div>

          <div class="data_input">
            <label for="discount"
              ><input
                name="discount"
                id="discount"
                class="input_edit"
                type="number"
                value="<%=locals.old && old.discount ? old.discount : product.discount%>"
            /></label>
          </div>
          <div class="data_input">
            <label for="description"></label>
            <textarea
              class="text_area"
              name="description"
              id="description"
              placeholder="Descripcion"
            >
  <%=product.description%></textarea
            >
          </div>

          <div class="data_input">
            <input class="image" type="file" name="image" id="image" />
          </div>
          <div class="data_input">
            <button type="submit">Guardar Cambios</button>
          </div>
        </form>
      </div>
    </section>

    <%-include('../Components/Footer/Footer') %>
  </body>
</html>
